# File Virtual Environment
env/
venv/
*.env

# File database lokal
db.sqlite3
db.sqlite3.backup

# File cache Python
__pycache__/
*.pyc

# File media (jika tidak ingin diunggah ke Git)
# /media/

# File statis yang dikumpulkan Django
/staticfiles/